html, body {
    background-color: #FDF5E6;
    margin: 0;
    padding: 0;
    height:100%;
}
#content{
    min-height: calc(100% - 80px); 
    padding-bottom: 100px;
}
.information_of_developer {
    display: flex;
    align-items: center;
    justify-content: center; 
    color: white;
    margin-top: 40px;
}

h1 {
    color: red
}

#sm, #sm2 {
    color: purple
}

.head, .inp, .lab, h2, h3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    font-size: 30px;
    color: blue;
}

#headblock, #footerBlock {
    float: left;
    border-bottom: 4px solid silver;
    overflow: hidden;
}

input[type="submit"], input[type="text"], option, input[type="number"], input[type="time"] {
    max-height: 100px;
}

#exit {
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #FDF5E6;
    width: calc(100% - 20px);
    height: 40px;
    overflow: hidden;
}

#exit label {
    float: right;
    white-space: pre;
}

#backButton {
    float: left;
}

#headblock {
    width: 100%;
    height: 15%;
    background-color: #fff;
    margin-bottom: 5px;
}

#footerBlock {
    width: 100%;
    height: 80px;
    margin-top: -80px;
    background-color: #4169e1;
}

.imag, .imag2, .imag3, .imag4, .imag5, .imag6 {
    width: 40px;
    height: 40px;
    display: inline-block;
    vertical-align: bottom;
}

/*index.php*/

.IndexPass {
    font-size: 24px;
    height: 28px;
    width: 300px;
}

.mycl {
    font-family: inherit;
    font-size: 15px;
}

#artic, #asid {
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px;
    overflow: hidden;
}

#artic {
    background-color: #FDF5E6;
    width: 950px;
    height: 30px;
    margin: 0 auto;
}

#asid {
    background-color: #fafafa;
    min-height: 300px;
    max-height: 2000px;
    border-bottom: 4px solid silver;
    width: 400px;
    padding-left: 50px;
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 150px;
}

/*nex.php*/

.imag {
    background-image: url(images/DoSomething.jpg);
    float: left;
}

.imag2 {
    background-image: url(images/internet.jpg);
}

.imag3 {
    background-image: url(images/download.jpg);
}

#butt {
    float: right;
}

#exit input[type="submit"] {
    font-size: 16px;
    height: 22px;
    color: blue;
    width: 120px;
}

#distributor input[type="submit"], #asid input[type="submit"] {
    height: 28px;
    width: 300px;
    color: blue;
    overflow: hidden;
}

#distributor {
    background-color: #fff;
    border-bottom: 4px solid silver;
    width: 600px;
    overflow: hidden;
    font-size: 30px;
    color: blue;
    height: 600px;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 60px;
}

.inp {
    margin: 0 auto;
}

/*Constructor.php*/
.simple_text{
    font-size:20px;
}
.simple_table_header{
    font-size:22px;
}
.simple_strong_text{
    font-size:22px;
}
.tab{
    height:20px;
    width:100%;
    text-align:center;
}
.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer; 
    padding: 14px 16px;
    transition: 0.3s;
    /*width: 350px;*/
    width:20%;
    /*font-size:22px;*/
    font-size:1em;
    margin-left:0.7px;
    margin-right:0.7px;
}
#Create{
    display: none;
}
.tab button:hover {
    background-color: #FFEB3B;
}
.tab button.active {
    background-color: #4CAF50;
    color: #fff;
}
.block {
    display: none;
}
.floating_window{
   opacity: 0;
   visibility: hidden;
   
   
   /*  Установаем ширину окна  */
   width: 100%;
   max-width: 500px;
   
   /*  Центрируем и задаем z-index */
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 30; /* Должен быть выше чем у подложки*/
   
   /*  Побочные стили   */
   box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2); 
   text-align: center;
   padding: 30px;
   border-radius: 3px;
   background-color: #fff;
   transition: 0.3s all;
  
}
.overlay{
    opacity: 0;
   visibility: hidden;
   
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, .5);
   z-index: 20;
   transition: .3s all;

}
.floating_window.active,
.overlay.active{
   opacity: 1;
   /*z-index:999;*/
   visibility: visible;
}
.modal__cross {
   width: 15px;
   height: 15px;
   position: absolute;
   top: 20px;
   right: 20px;
   fill: #444;
   cursor: pointer;
}
.modal_td{
    background: white;
    padding: 10px;
}
.modal_table{
    /*all: unset;*/
    display: flex;
    align-items: center;
    justify-content: center; 
	size:60px;
	margin-left:50px;
    border-spacing: 5px 10px;
	text-align: left;
}
.error {
    display: none;
    position: absolute;
    /*z-index: 9999;*/
    border: 1px solid black;
    background-color: yellow;
    text-align: center;
    min-width: 25px;
    max-width: 500px;
    height: 25px;
    margin-left: 8px;
    border-radius: 3px;
}
.preview{
    height:25px;
    width:30px;
    float:right;
    font-size: 15px;
}
.error:hover {
    opacity: .4;
}

.note {
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: italic;
    font-size: 20px;
}

.imag4 {
    background-image: url(images/information.jpg);
}

.imag5 {
    background-image: url(images/study.jpg);
}

.imag6 {
    background-image: url(images/source.jpg);
}

#Create {
    width: 500px;
    height: 40px;
    margin: 0 auto;
    background-color: #FDF5E6;
    max-width: 2000px;
}

/*#Create input[type="submit"]{
    height: 32px;
    width: 500px; 
    color:blue;
    overflow:hidden;
 }*/

button {
    height: 32px;
    width: 500px;
    color: blue;
    overflow: hidden;
}

#disciple input, #disciple select {
    font-size: 18px;
    height: 28px;
    width: 300px;
}

.block {
    margin: 0 auto;
    /*width: 600px;*/
    margin-top: 40px;
    margin-bottom: 20px;
}

#disciple {
    padding-left: 80px;
    padding-top: 40px;
    width: 520px;
    min-height: 500px;
    max-height: 800px;
    overflow: auto;
    box-sizing: border-box;
    margin-bottom: 40px;
    margin: 0 auto;
    background-color: #fff;
    border-bottom: 4px solid silver;
}

#sublime1, #sublime2 {
    text-decoration: none;
}

#sublime1:hover, #sublime2:hover {
    text-decoration: underline;
    color: red;
    cursor: pointer;
}
.teachingPlan{
    padding: 20px;
    padding-left: 30px;
    margin-bottom: 30px;
    margin-top: 40px;
    min-height: 100px;
    max-height: 280px;
    margin: 0 auto;
    overflow: auto;
    box-sizing: border-box;
    background-color: #fff;
    border-bottom: 4px solid silver;
    width:730px;
}
  /*.saitbar {
     margin: 0 auto;
     padding: 0;
     width: 200px;
     }
  .menu-4, .menu-4 .podmenu, .menu-4 .podmenu-2 {
     margin: 0;
     padding: 0;
     height: auto;
     list-style-type: none;
     }
  .menu-4 li {
     margin: 0 0 2px;
     padding: 0;
     transition: all 0.7s ease 0s;
     display: block;
     position: relative;
     }
  .menu-4 a {
     padding: 6px 0 8px 10px;
     text-decoration: none;
     transition: all 0.7s ease 0s;
     display: block;
     }
  .menu-4 li:hover {
     background-color: #ccc;
     }
  .menu-4 li:hover a {
     color: #0e25c0;
     padding: 6px 0 8px 22px;
     border-left: 6px solid #900000;
     }
  .menu-4 ul.podmenu, .menu-4 ul.podmenu-2 {
     display: none;
     position: absolute;
     top: 34px;
     width: 150px;
     background-color: #ccc;
     }
  .menu-4 ul.podmenu {
     left: 7px;
     }
  .menu-4 ul.podmenu-2 {
     left: 150px;
     }
  .menu-4 li:hover .podmenu, .podmenu li:hover .podmenu-2 {
     display: block;
     padding: 4px 0 4px 14px;
     }
  .menu-4 .podmenu li, .podmenu .podmenu-2 li {
     margin: 0;
     padding: 0;
     background-color: #ccc;
     border-left: 0 solid #273ed9;
     transition: all 0.7s ease 0s;
     display: block;
     }
  .menu-4 .podmenu li a, .podmenu .podmenu-2 li a {
     border-left: 0 solid #900000;
     padding: 4px 10px;
     font-size: 14px;
     border-bottom: 1px dotted #999;
     }
  .menu-4 .podmenu li a:hover, .podmenu .podmenu-2 li a:hover {
     color: #0e25c0;
     }*/
.div_ul{
    margin: 0 auto;
     /*padding: 0;*/
     width: 100px;
     text-align:center;
}
.menu_ul{
    /*margin: 0;
    padding: 0;*/
    list-style: none;
    width: 150px;
    border-bottom: 1px solid #ccc;
}

.menu_ul .menu_li
{
    position: relative;
}

.menu_li .menu_ul
{
    position: absolute;
    left: 8px;
    top: 24px;
    display: none;
}
.second_menu_ul{
    left: 150px;
    top: 0px;
}
.menu_ul .menu_li a
{
    display: block;
    text-decoration: none;
    color: #777;
    background: #bad8f8;
    padding: 2px 0 2px 10px;
    border: 1px solid #ccc;
    border-bottom: 0;
}

.menu_li:hover > .menu_ul
{
    display: block;
}

.menu_li:hover > .menu_ul > .menu_li
{
    background-color: #ccc;
}

.stud, .schedule {
    display: none;
    padding: 20px;
    padding-left: 30px;
    margin-bottom: 30px;
    margin-top: 40px;
    min-height: 100px;
    max-height: 280px;
    margin: 0 auto;
    overflow: auto;
    box-sizing: border-box;
    background-color: #fff;
    border-bottom: 4px solid silver;
}

.stud {
    width:930px;
}

.schedule,.teachingPlan {
    width:930px;
}

.source input[type="file"] {
    font-size: 16px;
    color: blue;
    float: center;
    padding-left: 90px;
}

.source input[type="text"] {
    font-size: 18px;
    height: 20px;
    width: 420px;
    float: center;
}

.source {
    padding: 20px;
    min-height: 100px;
    max-height: 1500px;
    margin-bottom: 15px;
    margin:0 auto;
    overflow: auto;
    box-sizing: border-box;
    background-color: #fff;
    border-bottom: 4px solid silver;
}
#Links{
    width:900px;
}
#ElectronicDocuments{
    /*min-width: 200px;
    max-width: 700px;*/
    width:800px;
}
#bibliography{
    min-width: 200px;
    max-width: 1200px;
}
/*admin.php*/

.FirstHalf {
    float: left;
    margin-left: 27%;
}

.SecondHalf {
    float: right;
    margin-right: 27%;
}

#adU {
    padding: 20px;
    width: 400px;
    min-height: 100px;
    max-height: 500px;
    /*margin:0 auto;*/
    overflow: auto;
    box-sizing: border-box;
    margin-bottom: 15px;
    background-color: #fff;
    border-bottom: 4px solid silver;
}

#delU {
    padding: 20px;
    width: 400px;
    margin-bottom: 15px;
    max-height: 500px;
    /*margin:0 auto;*/
    overflow: auto;
    box-sizing: border-box;
    background-color: #fff;
    border-bottom: 4px solid silver;
}

#ListOfUsers {
    width: 300px;
    min-height: 300px;
    max-height: 10000px;
    /*margin:0 auto;*/
    overflow: auto;
    box-sizing: border-box;
    margin-bottom: 15px;
    background-color: #fff;
    border-bottom: 4px solid silver;
}

.Inp {
    font-size: 24px;
    height: 28px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
}

.labelAd {
    margin-left: 30px;
}

.Add-delete {
    margin-left: 30px;
    height: 28px;
    width: 300px;
    color: blue;
}

#tableOfUsers {
    margin-left: 50px;
    border-spacing: 5px 10px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 40px;
}

th {
    font-size: 18px;
    padding: 10px;
    height: 30px;
}

td {
    background: #F5D7BF;
    padding: 10px;
}